.container{
    display: flex;
    background: #007800;
}

.container div{
    padding: 20px;
    margin: 10px;
    font-size: 35px;
    background-color: black;
    
}

.container div:nth-child(1){
    order: 2;
}

.container div:nth-child(2){
    order: 0;
}

.container div:nth-child(3){
    order: 3;
}

.container div:nth-child(4){
    order: 4;
}

.container2{
    display: flex;
    background-color: #007800;
    grid-column:row ;
}

.container2 div{
    margin: 10px;
    font-size: 35px;
    padding: 20px;
    background-color: black;
}

.container3{
    display: flex;
    background-color: #007800;
    grid-column:row;
}

.container3 div{
    margin: 10px;
    font-size: 35px;
    padding: 20px;
    background-color: black;
}

.container4 {
    display: flex;
    background-color: #007800;
    grid-column:row;
    flex-wrap: wrap;
}

.container4 {
   font-size: 35px;
}

.container5 {
    display: flex;
    background-color: #007800;
    grid-column:row;
    justify-content: center;
}

.container5 {
   font-size: 35px;
}

.container5 :nth-child(2){
    align-self: flex-end;

}

.container6 {
    display: flex;
    background-color: #007800;
    grid-column:row;
 align-items: flex-start;
}

.container6 {
   font-size: 35px;
   margin: 10px;
   padding: 20px;
   background-color: aliceblue;
}

.container6 div:nth-child(1){
    height: 20px;
}
.container6 div:nth-child(1){
    height: 40px;
}
.container6 div:nth-child(1){
    height: 50px;
}
.container6 div:nth-child(1){
    height: 200px;
}